<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Complaints</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
          
<!--[if lt IE 9]>
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
  <div id="w">

    <h1>Comments</h1>
    
    <div id="container">
      <ul id="comments">
				    <div class="row">
              <center>
                <form action="/" method="POST">
                  <div class="row">
                    <div class="input-field">
                      <textarea name="comment" id="textarea1" class="materialize-textarea"></textarea>
                      
                    </div>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Add a new comment</button>
                </form>
              </center>
            
            </div>

            <br>
          {% for content in contents %}
        <li class="cmmnt">
				  <div class="avatar"><a href="javascript:void(0);"><img src="static/images/dark-cubes.png" width="55" height="55" alt="DarkCubes photo avatar"></a></div>
				  <div class="cmmnt-content">
				    <header><a href="javascript:void(0);" class="userlink">DarkCubes</a> - <span class="pubdate">posted 1 week ago</span></header>
				    <p>{{ content }}</p>
				  </div>
				  
				  <!-- <ul class="replies">
				    <li class="cmmnt">
				      <div class="avatar"><a href="javascript:void(0);"><img src="static/images/pig.png" width="55" height="55" alt="Sir_Pig photo avatar"></a></div>
				      <div class="cmmnt-content">
				      <header><a href="javascript:void(0);" class="userlink">Sir_Pig</a> - <span class="pubdate">posted 1 day ago</span></header>
				      <p>Sed felis lorem, venenatis sed malesuada vitae, tempor vel turpis. Mauris in dui velit, vitae mollis risus.</p>
				      <p>Morbi id neque nisl, nec fringilla lorem. Duis molestie sodales leo a blandit. Mauris sit amet ultricies libero. Etiam quis diam in lacus molestie fermentum non vel quam.</p>
				      </div> 
				    </li>
				  </ul> -->
				</li>
        {% endfor %}
        
       
      </ul>
    </div>
  </div>
</body>
</html>