

<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
<script type="text/javascript" src="js/materialize.min.js"></script>
<head>
	<title></title>
</head>
<body>
<!--<center>
<form action="/" method="post">
<br><br>
	Source - <input type="text" name="source"></input><br>
	Destination - <input type="text" name="dest"></input><br>
	Lattitude - <input type="text" name="lat"></input><br>
	Longitude - <input type="text" name="lng"></input>
	<input type="submit"></input>
</form><br><br><br>
-->
<br><br>
<div class="container">
	<div class="row">
	    <form action="/" method="get" class="col s12">
	      <div class="row">
	        <div class="input-field col s12">
	          <input placeholder="Title of the Notification" id="title" name="title" type="text" class="validate">
	          <!--<label for="source">Source</label>-->
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input placeholder="Body of the Notification" id="body" name="body" type="text" class="validate">
	          <!--<label for="source">Destination</label>-->
	        </div>
	      </div>
	      <div class="row">
	      	<center><input type="submit" value="Send Notification"></input>
	      </div>
	    </form>
	  </div>
</div>
</body>
</html>